<!-- Custom favicons -->
<link rel="icon" type="image/png" href="{{ '/assets/img/favicons/favicon-96x96.png' | relative_url }}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{{ '/assets/img/favicons/favicon.svg' | relative_url }}" />
<link rel="shortcut icon" href="{{ '/assets/img/favicons/favicon.ico' | relative_url }}" />
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/img/favicons/apple-touch-icon.png' | relative_url }}" />
<link rel="manifest" href="{{ '/assets/img/favicons/site.webmanifest' | relative_url }}" />
<style>
  a[aria-label="github"] {
    display: none !important;
  }

  a[aria-label="twitter"] {
    display: none !important;
  }

  a[aria-label="email"] {
    display: none !important;
  }
</style>
